# Ignore fixtures/modules & manifests directories
/spec/fixtures/modules
/spec/fixtures/manifests

# puppet module build output
/pkg

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
